<!-- <div class="container">
    <h3 mat-dialog-title>Add new Issue</h3>
  
    <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="category" [(ngModel)]="data.category" name="category" required >
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button id="category1" name="category" value="Boys" [(ngModel)]="data.category">Boys</mat-radio-button>
            <mat-radio-button  id="category2" name="category" value="Girls" [(ngModel)]="data.category">Girls</mat-radio-button>
          </mat-radio-group>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
  
       Contains mat-hint for characters count and has maxLengt set
       <div class="form">
        <mat-form-field color="accent">
          <input matInput #inputstate class="form-control" placeholder="productName" [(ngModel)]="data.productName" name="productName"  required >
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          <mat-hint align="end">{{inputstate.value?.length || 0}}/10</mat-hint>
        </mat-form-field>
      </div>
      Textarea for demo purposes
      <div class="form">
        <mat-form-field color="accent">
          <textarea matInput #input class="form-control" placeholder="description" [(ngModel)]="data.description" name="description" required ></textarea>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
  
     
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #inputstate class="form-control" placeholder="price" [(ngModel)]="data.price" name="price" maxlength="10" required >
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          <mat-hint align="end">{{inputstate.value?.length || 0}}/10</mat-hint>
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #inputstate class="form-control" placeholder="clothSize" [(ngModel)]="data.clothSize" name="clothSize"  required >
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          <mat-hint align="end">{{inputstate.value?.length || 0}}/10</mat-hint>
        </mat-form-field>
      </div>
  
   
  
      <div mat-dialog-actions>
        <button mat-button (click)="confirmAdd()">Save</button>
        <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
      </div>
    </form>
  </div>





   -->
   <!-- ------------------------- -->


   <h1 mat-dialog-title>add product form</h1>
   <hr>
<div mat-dialog-contect>
   <form [formGroup]="productForm" (ngSubmit)="submit">
     <!-- --------- -->
     <label for=""><h2>category</h2></label>
     <mat-radio-group   formControlName="category" class="example-radio-group">
         <mat-radio-button id="category1" name="category" value="Boys"  >Boys</mat-radio-button>
         <mat-radio-button  id="category2" name="category" value="Girls"  >Girls</mat-radio-button>
         
     </mat-radio-group>
     <br>
     <br>
     <!-- ----------- -->
     <mat-form-field appearance="outline">
      <mat-label>product name</mat-label>
      <input formControlName="productName" matInput placeholder="name">
  </mat-form-field>
  <br>
           <!-- ------------ -->
    <mat-form-field appearance="outline">
      <mat-label>description</mat-label>
      <textarea  formControlName="description" matInput ></textarea>
  </mat-form-field>
  <br>
     <!-- --------- -->
     <mat-form-field appearance="outline">
      <mat-label>price</mat-label>
      <input  formControlName="price" matInput type="number" placeholder="name"  >
  </mat-form-field>
  <br>
  <!-- ----------------- -->
  <mat-form-field appearance="outline">
    <mat-label>clothSize</mat-label>
    <mat-select formControlName="clothSize" matInput placeholder="clothSize">
        <mat-option value="XL"  >XL</mat-option>
        <mat-option value="L"  >L</mat-option>
        
        </mat-select>
</mat-form-field>
<!-- ---------------- -->
<mat-form-field appearance="outline">
  <mat-label>inStock</mat-label>
  <input formControlName="inStock"  matInput placeholder="inStock" >
</mat-form-field>
<br>
    
    <br>
    </form>
    </div>
    <!-- -------------- -->
    <div mat-dialog-action [align]="'end'">
      <button mat-raised-button class="primary" mat-dialog-close>close</button>
      <button style="margin-left:10px;" mat-raised-button color="primary" (click)="addProduct()">save</button>
  
  </div>

